@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  width: 100%;
  display: block;
}

.container {
  background-color: white;
  width: 30rem;
  height: 45rem;
  margin-top: 1rem;
  border-radius: 25px;
}

.icon-right {
  width: 100%;
  height: 10rem;
  margin: 0;
}

.card-number {
  width: 100%;
  height: 25rem;
}

.icon-left {
  width: 100%;
  height: 10rem;
  float: left;
}

.images {
  font-size: 150px;
}

.bottom {
  font-size: 150px;
  text-align: left;
  transform: rotate(180deg);
}

.card-number {
  width: 100%;
  height: auto;
  font-size: 200px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  width: 150px;
  height: 50px;

  background-color: yellow;
}

.timer {
  background-color: aqua;
  margin-left: 2rem;
  font-size: 16px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 30px;
}

label {
  margin-left: 2rem;
  font-size: large;
}
#inputWeight {
  width: 150px;
  height: 50px;
  margin-left: 2rem;
}
